.friend-list {
  list-style: none;
  width: 600px;
  color: #4d4d4d;
}
.friend-card {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #e5e1d7;
  margin: 10px;
}
.friend-isOnline {
  font-size: 40px;
  margin-left: 20px;
}
.friend-online {
  color: #239939;
}
.friend-offline {
  color: #cf1919;
}
.friend-img {
  height: 60px;
  background-color: #fff;
}
