.transaction-history {
  margin-left: 40px;
  width: 500px;
  background-color: #e5e6e9;
}
.transaction-header {
  text-align: left;
  background-color: #d3d7e0;
}
.transaction-cell {
  border: 0.5px solid #d3d7e0;
  padding: 10px 0 10px 0;
}
